.form-inline{
    width: 900px;
}

.form-inline .form-control{
    width: 700px !important;
}

.navbar-brand{
    padding-left: 50px;
}

#carouselExampleControls{
    width: 300px;
}

.price{
    font-size: 40px;
}