<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>init</servlet-name>
        <servlet-class>servlets.init</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>products_controller</servlet-name>
        <servlet-class>servlets.products_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>increment</servlet-name>
        <servlet-class>servlets.increment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>decrement</servlet-name>
        <servlet-class>servlets.decrement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sale_controller</servlet-name>
        <servlet-class>servlets.sale_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterProduct</servlet-name>
        <servlet-class>servlets.filterProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>init</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>products_controller</servlet-name>
        <url-pattern>/products_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>increment</servlet-name>
        <url-pattern>/increment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>decrement</servlet-name>
        <url-pattern>/decrement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sale_controller</servlet-name>
        <url-pattern>/sale_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterProduct</servlet-name>
        <url-pattern>/filterProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
